:root {
  --primary-blue: #0468BF;
  --secondary-blue: #0477BF;
  --accent-blue: #079DD9;
  --light-blue: #A9C6D9;
  --cyan-blue: #04B2D9;
  --white: #FFFFFF;
  --black: #000000;
  --dark-gray: #222222;
} 